<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <InstrumentationKey>66fdd030-0383-4e52-9981-c69f985f292c</InstrumentationKey>
  <TelemetryInitializers>
    <Add Type="Microsoft.AI.DependencyCollector"/>
  </TelemetryInitializers>
</ApplicationInsights>